* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  margin: 3rem auto;
}


.main-modal {
  min-height: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgba(242, 251, 110, 0.65);
  padding: 20px;
  border: 2px solid #000;
  margin-bottom: 1rem;
}

.para {
  height: 100px;
  width: 80%;
  padding: 1rem;

}

.btn {
  width: 20%;
}


.contained-modal {

  display: flex;
  flex-direction: column;


}

.sub-modal{
  padding-left: 3rem;
   flex-direction: column;
}

.sub-modal span {
  color: red;
  font-weight: 800;
}