* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  min-height: 100vh;
  margin: 3rem auto;
}

.main-modal {
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba(224, 224, 223, 0.45);
  padding: 20px;
  border: 2px solid #000;
  margin-bottom: 1rem;
}

.para {
  height: 100px;
  padding-right: 50px;
  text-align: justify;
  width: 100%;
}

.button {
  width: 150px;
}

.contained-modal {
  display: flex;
  flex-direction: column;
}

.sub-modal {
  width: 100%;
}

.sub-modal span {
  color: red;
  font-weight: 800;
}